@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


body {
  margin: 0;
  padding: 0;
}

#top-bar {
  width: 100%;
  background-color: rgb(49, 161, 49);
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  top: 0;
  z-index: 2;
}

.content-body {
  margin-top: 100px;
  padding: 20px 0;
  z-index: 1;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
}

.news-article {
  width: 800px;
  border: 1px grey solid;
  border-radius: 10px;
  padding: 0 10px;
}

.title {
  font-family: 'Righteous', cursive;
}

.subtitle {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  color: rgb(155, 155, 155);
}

.body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: large;
}

.article-text {
  display: inline-block;
  vertical-align: middle;
}

.article-image {
  vertical-align: middle;
  display: inline-block;
  margin: 10px;
  width: 160px;
  border-radius: 10px;
  overflow: hidden;
}

.datetime {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: rgb(109, 109, 109);
}